Repository dusk-network/plonk, pull requests merged in 2020-08, with the labels that each got.

#274 Make public inputs vector public
  CHANGELOG.md
  Cargo.toml
  src/constraint_system/composer.rs
Labels: area:cryptography, constraint_system

#277 Migrate from `failure` to `anyhow + thiserror` for error support.
  CHANGELOG.md
  Cargo.toml
  src/commitment_scheme/kzg10/errors.rs
  src/commitment_scheme/kzg10/key.rs
  src/commitment_scheme/kzg10/srs.rs
  src/constraint_system/cs_errors.rs
  src/constraint_system/helper.rs
  src/fft/domain.rs
  src/fft/fft_errors.rs
  src/lib.rs
  src/prelude.rs
  src/proof_system/preprocess.rs
  src/proof_system/proof.rs
  src/proof_system/proof_system_errors.rs
  src/proof_system/prover.rs
  src/proof_system/quotient_poly.rs
  src/proof_system/verifier.rs
Labels: API-design, type:refactor, type:tech-debt

#278 Add serialisation
  CHANGELOG.md
  Cargo.toml
  src/commitment_scheme/kzg10/key.rs
  src/commitment_scheme/kzg10/srs.rs
  src/constraint_system/composer.rs
  src/lib.rs
  src/macros.rs
  src/proof_system/linearisation_poly.rs
  src/proof_system/preprocess.rs
  src/proof_system/proof.rs
  src/proof_system/widget/arithmetic/verifierkey.rs
  src/proof_system/widget/ecc/verifierkey.rs
  src/proof_system/widget/logic/verifierkey.rs
  src/proof_system/widget/mod.rs
  src/proof_system/widget/permutation/verifierkey.rs
  src/proof_system/widget/range/verifierkey.rs
  src/serialisation.rs
Labels: serialization-serde, type:feature, type:tech-debt

#284 Update `add_witness_to_circuit_description` fn sig
  CHANGELOG.md
  src/constraint_system/composer.rs
Labels: constraint_system, type:refactor

#285 Variable base scalar multiplication
  CHANGELOG.md
  src/constraint_system/arithmetic.rs
  src/constraint_system/boolean.rs
  src/constraint_system/composer.rs
  src/constraint_system/ecc/curve_addition/fixed_base_gate.rs
  src/constraint_system/ecc/curve_addition/mod.rs
  src/constraint_system/ecc/curve_addition/variable_base_gate.rs
  src/constraint_system/ecc/mod.rs
  src/constraint_system/ecc/scalar_mul/fixed_base/mod.rs
  src/constraint_system/ecc/scalar_mul/mod.rs
  src/constraint_system/ecc/scalar_mul/variable_base/mod.rs
  src/constraint_system/logic.rs
  src/constraint_system/mod.rs
  src/constraint_system/range.rs
  src/proof_system/linearisation_poly.rs
  src/proof_system/preprocess.rs
  src/proof_system/proof.rs
  src/proof_system/prover.rs
  src/proof_system/quotient_poly.rs
  src/proof_system/widget/ecc/curve_addition/mod.rs
  src/proof_system/widget/ecc/curve_addition/proverkey.rs
  src/proof_system/widget/ecc/curve_addition/verifierkey.rs
  src/proof_system/widget/ecc/mod.rs
  src/proof_system/widget/ecc/scalar_mul/fixed_base/mod.rs
  src/proof_system/widget/ecc/scalar_mul/fixed_base/proverkey.rs
  src/proof_system/widget/ecc/scalar_mul/fixed_base/verifierkey.rs
  src/proof_system/widget/ecc/scalar_mul/mod.rs
  src/proof_system/widget/ecc/scalar_mul/variable_base/mod.rs
  src/proof_system/widget/mod.rs
Labels: area:cryptography, composer-custom-gates, type:feature
